# NPM Modules
node_modules/
package-lock.json

# Log folder
logs/
*.log

# Config file
config.json

# User privilege file
priv.json

# SSL Files
private.key
ssl.crt

# NPM Debug Logs
npm-debug.log

# Miscellaneous
.tmp/
.vscode/